<!DOCTYPE html>
<html lang="en">
<head>
<!-- https://dev.to/codypearce/animate-an-octocat-sprite-swimming-with-css-2apl-->
{% load static %}
 <meta charset="UTF-8">
 <title>Hi am Tom</title>
 <link rel="stylesheet" type="text/css" href="{% static 'css/octo.css' %}">
</head>
<body>
 <div class="ocean">
  <div class="bubble bubble--1"></div>
  <div class="bubble bubble--2"></div>
  <div class="bubble bubble--3"></div>
  <div class="bubble bubble--4"></div>
  <div class="bubble bubble--5"></div>
  <div class="bubble bubble--6"></div>
  <div class="bubble bubble--7"></div>
  <div class="bubble bubble--8"></div>
  <div class="bubble bubble--9"></div>
  <div class="bubble bubble--10"></div>
  <div class="bubble bubble--11"></div>
  <div class="bubble bubble--12"></div>
  <div id="octocat" class="normal_cat" onclick="greeting_visitor()"></div>
  <div id="speech">
   <span></span>
  </div>
    <div class="speech_reco">
    <p class="heard-output speech">Heard: Nothing</p>
    <p class="confidence-output speech ">Confidence: 100.0%</p>
  </div>
 <div >
   <img width="70%" class="present" src="{% static 'css/mond.jpg' %}">
 </div>
</div>

</body>
<script src="{% static 'js/octo.js' %}"></script>

</html>


