<!DOCTYPE html>
<html lang="en">
<head>
<!-- https://dev.to/codypearce/animate-an-octocat-sprite-swimming-with-css-2apl-->
{% load static %}
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>Hi am Felix</title>
 <link rel="stylesheet" type="text/css" href="{% static 'css/octo.css' %}">
 <link rel="icon" href="{% static 'css/favicon.ico' %}"/>

</head>
<body>
 <div class="ocean">
  <div class="bubble bubble--1"></div>
  <div class="bubble bubble--2"></div>
  <div class="bubble bubble--3"></div>
  <div class="bubble bubble--4"></div>
  <div class="bubble bubble--5"></div>
  <div class="bubble bubble--6"></div>
  <div class="bubble bubble--7"></div>
  <div class="bubble bubble--8"></div>
  <div class="bubble bubble--9"></div>
  <div class="bubble bubble--10"></div>
  <div class="bubble bubble--11"></div>
  <div class="bubble bubble--12"></div>
  </div>
  <div id="speech">
   <span></span>
  </div>
 <div iD="cat_frame">
 <div class="ocotocat_head" onclick="speak_msg('Das gefaellt mir sehr gut','speech_hi')"></div>
  <div id="octocat" class="normal_cat" onclick="//greeting_visitor()"></div>

    <div class="confidence_reg">
    <p class="heard-output speech">Heard: Nothing</p>
    <p class="confidence-output speech ">Confidence: 100.0%</p>
  </div>
 <div class="speech_reco">
   <button class="learning">
      <img onclick='time_to_learn("Welches Statement moechtest du mir beibringen? Und wie antworte ich darauf am besten?")' src="{% static 'css/learning.png' %}">
   </button>
   <button class="learning microphone">
      <img onclick="tom_reaction()" src="{% static 'css/microphone.png' %}">
   </button>
 </div>
</div>
<svg id="ocean_ground" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path fill="#F2D16B" fill-opacity="1" d="M0,128L48,122.7C96,117,192,107,288,138.7C384,171,480,245,576,261.3C672,277,768,235,864,192C960,149,1056,107,1152,90.7C1248,75,1344,85,1392,90.7L1440,96L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
</svg>
</body>
<script>
         person_name = "{{name_person}}";
</script>
<script src="{% static 'js/octo.js' %}"></script>
<script src="{% static 'js/audio.js' %}"></script>

</html>


